.errorContainer,
.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4.25rem);
}

.errorContainer p {
  color: #ff0000;
  margin-top: -8rem;
}

/* Mission Page */

.gameContainer {
  min-height: calc(100vh - 4.25rem);
}

.missionHeading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1.5rem;
}

.imageContainer {
  position: relative;
  width: 100vw;
  overflow: auto;
}

.imageContainer img {
  display: block;
  border: 1px solid #dbdbdb;
  max-width: none;
  margin: 0 auto;
}

.imageContainer img:hover {
  cursor:
    url("../assets/hover.svg") 10 12,
    pointer;
}

.targetDropdown {
  position: absolute;
  background-color: #fff;
  border-radius: var(--main-border-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 11.25rem;
  overflow: hidden;
  z-index: 9;
}

.targetDropdown button {
  display: block;
  line-height: 1.5;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.targetDropdown button:hover {
  background-color: var(--button-hover);
  border-radius: 0;
}

.targetDropdown button:active {
  background-color: var(--button-active);
}

.resultPara {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 1.5rem;
  margin: 1rem 1rem 2rem 1rem;
}

.resultPara.success {
  color: #008000;
}

.resultPara.failure {
  color: #ff0000;
}

.leaderboardContainer {
  margin: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--main-border-radius);
  padding: 0.5rem;
}

.leaderboardHeading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 1.25rem;
}

.leaderboardTable {
  width: 100%;
}

.leaderboardTable thead {
  background-color: #f3f3f3;
  border-bottom: 3px solid #e2e9f0;
}

.leaderboardTable tr {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}

.leaderboardTable tr:last-of-type {
  border-bottom: none;
}

.leaderboardTable th {
  text-align: start;
  font-weight: 700;
  color: #2e333f;
}

.leaderboardTable th,
.leaderboardTable td {
  padding: 0.5rem 0.25rem;
}

.leaderboardTable td {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboardTable .rankTd {
  font-weight: 700;
  color: #2e333f;
}

.rankTh,
.rankTd {
  flex: 1;
}

.rankTd {
  margin-left: 0.9rem;
}

.playerTh,
.playerTd {
  flex: 3;
}

.dateTh,
.dateTd {
  flex: 1.5 !important;
}

.playerTd {
  margin-left: -0.9rem;
}

.timeTh,
.timeTd {
  flex: 1;
}

.dateTh,
.dateTd {
  flex: 1;
  display: none;
}

.showMoreButton {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--button-hover);
  padding: 0.5rem 1rem;
  margin: 1rem auto 0 auto;
}

.showMoreButton:hover {
  background-color: var(--button-active);
}

.showMoreButton:active {
  background-color: var(--button-hover);
}

.loadError {
  color: #ff0000;
  text-align: center;
  margin-bottom: 1rem;
}

.fetchError {
  color: #ff0000;
  text-align: center;
  margin-top: 1rem;
}

.emptyPara {
  line-height: 1.25;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0;
}

.completedModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  background-color: #fff;
  border-radius: var(--main-border-radius);
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  z-index: 98;
}

.completedModal h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
}

.completedModal button {
  font-size: 1rem;
  background-color: #16a34a;
  color: #fff;
  width: 100%;
  padding: 0.6rem;
  margin-top: 2rem;
}

.completedModal button:hover {
  background-color: #109741;
}

.completedModal button:active {
  background-color: #16a34a;
}

.nameInput {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .leaderboardContainer {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1.25rem;
  }

  .leaderboardHeading {
    padding-bottom: 1.5rem;
  }

  .leaderboardTable th,
  .leaderboardTable td {
    padding: 1rem;
  }

  .leaderboardTable th {
    font-size: 1.1rem;
  }

  .leaderboardTable td {
    font-size: 1rem;
  }

  .dateTh,
  .dateTd {
    display: block;
  }

  .emptyPara {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .missionHeading {
    font-size: 2rem;
  }

  .imageContainer img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 900px) {
  .leaderboardContainer {
    margin-bottom: 3rem;
  }
}
